doctype html
html
  head
    title Photo Album
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap")
    link(rel="stylesheet", href="/styles.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")
  body
    .album-grid
      each img, i in images
        img.album-img(src=img, alt="Photo " + i, data-index=i, data-bs-toggle="modal", data-bs-target="#modal")
        //if i === 6
    div.note-block Heppy Graduation My Little Caterpilar!!
    div.note-block1 Spring 2025
    div.note-block1 From Tina
          

    .modal.fade#modal(tabindex="-1")
      .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content
          .modal-body
            img#modal-img(src="", alt="Zoomed Photo", class="img-fluid")

    script.
      const images = !{JSON.stringify(images)};
      let currentIndex = 0;
      let interval = null;

      $('.album-img').on('click', function () {
        currentIndex = parseInt($(this).data('index'));
        $('#modal-img').attr('src', images[currentIndex]);
      });

      $('#modal-img').on('dblclick', function () {
        if (interval) clearInterval(interval);
        interval = setInterval(() => {
          currentIndex = (currentIndex + 1) % images.length;
          $('#modal-img').attr('src', images[currentIndex]);
        }, 2000);
      });

      $('#modal').on('hidden.bs.modal', function () {
        if (interval) clearInterval(interval);
      });